.container {
  width: 100%;
  max-width: 850px;
  margin: 15px auto;
  display: grid;
  background: white;
  grid-row-gap:2px;
}

.container__form{
  padding:10px;
}


.container__header{
  margin-left: 10px;  
}