html {
    box-sizing: border-box;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    background-color:#EFEFEF;
    max-width: 850px;
  }

  .body__header{
    margin-left:10px;
  }