.main {
  margin: 10px 10px;
  display: grid;
  background: white;
  grid-row-gap: 2px;
  grid-auto-rows: minmax(65px, auto);
}

.main__form {
  padding: 10px;
}

.main__section {
  border-bottom: 3px solid #EFEFEF;
}

@media (max-width: 768px) {
  .main {
    margin: 10px 15px;
  }
}

.main__sectionHeader {
  margin-left: 20px;
  font-size: 19px;
  padding: 5px;
}

.container__unorderList{
  padding:0px;
}